@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-bg-primary: #1f1f1f;
  --color-bg-secondary: #2a2a2a;
  --color-bg-tertiary: #262626;

  /* Surfaces / containers */
  --color-surface: #2c2c2c;
  --color-surface-soft: #303030;

  /* Borders & dividers */
  --color-border: #3a3a3a;
  --color-divider: #2f2f2f;

  /* Text */
  --color-text-primary: #e5e5e5;
  --color-text-secondary: #a3a3a3;
  --color-text-muted: #7a7a7a;

  /* Accent (blue) */
  --color-accent: #3b82f6;
  --color-accent-soft: #93c5fd;

  /* Success (green) */
  --color-success: #22c55e;
  --color-success-soft: #16a34a;

  /* Inputs & buttons */
  --color-input-and-button-text: #bfcad6;
  --color-button-text: #1e3a5f;

  /* Interaction */
  --color-hover: #333333;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer components {

  .wrapper{
    @apply bg-bg-primary min-h-screen flex justify-center items-center
  }

  .main-container{
    @apply pb-5 md:w-[80%] md:max-w-200 w-full min-h-30 border-border border rounded-lg bg-bg-secondary
  }

  .task-input{
    @apply border-border bg-bg-tertiary border flex-10/12 rounded-lg p-2 text-sm text-input-and-button-text
  }

  .task-add-button{
    @apply flex-1/12 bg-white rounded-lg text-sm px-2 text-accent
  }

  .filter-list {
    @apply flex;
  }

  .filter-list li {
    @apply px-3 py-2 text-text-muted text-xs;
  }

  .filter-list li.selected {
    @apply border-b border-accent text-accent;
  }

  .checkbox {
    @apply appearance-none w-5 h-5 rounded-full border-border border;
  }

  .checkbox-label {
    @apply block w-2 h-0.5 left-2 -rotate-45 absolute after:absolute after:w-1.5 after:h-0.5
     after:-rotate-90 after:-left-1 after:-top-0.5;
  }

  .list-left {
    @apply flex gap-3 w-[98%];
  }

  .task-text {
    @apply text-text-primary text-sm truncate;
  }

  .delete-button {
    @apply text-input-and-button-text w-5 h-5 text-sm scale-x-125;
  }
}
